{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Главная{% endblock %} :: Объявления</title>
    {% block css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'bboardapp/bootstrap.min.css' %}">
    {% endblock %}
</head>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Объявления</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% with request.resolver_match.url_name as url_name %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'add' %}active{% endif %}" aria-current="page"
                       href="{% url 'add' %}">Добавить объявление</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Категории
                    </a>
                    <ul class="dropdown-menu">
                        {% for rubric in rubrics %}
                        <li><a class="dropdown-item" href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'logout' %}active{% endif %}" aria-current="page"
                       href="{% url 'logout' %}">Выход</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'login' %}active{% endif %}" aria-current="page"
                       href="{% url 'login' %}">Вход</a>
                </li>
                {% endif %}
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>
<body class="bg-body-secondary">
<div class="container pt-3 pb-3">
    {% block content %}
    {% endblock %}
    {% block js %}
    <script src="{% static 'bboardapp/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}
</div>
</body>
</html>