<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ cur_rubric.name }} :: Объявления</title>
</head>
<body>
<h1>Объявления</h1>
<h2>Категория: {{ cur_rubric.name }}</h2>
<div>
    <a href="{% url 'index' %}">Главная</a>
    {% for rubric in rubrics %}
    <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
    {% endfor %}
</div>
{% for bb in bbs %}
<div>
    <h2>{{ bb.title }}</h2>
    <p>{{ bb.text }}</p>
    <p>{{ bb.published|date:'d.m.Y H:i' }}</p>
</div>
{% endfor %}
</body>
</html>