{% extends 'layout/base.html' %}

{% block content %}
<div class="row row-cols-3">
    {% for bb in bbs %}
    <div class="col">
        <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a>
            <a class="action" href="{% url 'update' pk=bb.pk %}">✏️</a>
            <a class="action" href="{% url 'delete' pk=bb.pk %}">❌</a></h2>
        <p>{{ bb.text }}</p>
        <p>Состояние: {{ bb.get_status_display }}</p>
        <p><a href="{% url 'by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
        <p>{{ bb.published|date:'d.m.Y H:i' }}</p>
    </div>
    {% empty %}
    <div>
        <h2>Объявления скоро появятся</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}
